<!-- Header -->
<header class="header shop">
  <!-- Topbar -->
  <div class="topbar">
    <div class="container">
      <div class="row">
        <div class="col-lg-4 col-md-12 col-12">
          <!-- Top Left -->
          <div class="top-left">
            <ul class="list-main">
              <li><i class="ti-headphone-alt"></i> 0797052231</li>
              <li><i class="ti-email"></i> 18dh110397@st.huflit.edu.vn</li>
            </ul>
          </div>
          <!--/ End Top Left -->
        </div>
        <div class="col-lg-8 col-md-12 col-12">
          <!-- Top Right -->
          <div class="right-content">
            <ul class="list-main">
              <li><i class="ti-user"></i> <a href="#">Tài khoản</a></li>
              <li><i class="ti-power-off"></i><a href="#">Đăng nhập</a></li>
              <li>
                <div class="sinlge-bar shopping">
                  <a routerLink="/cart" class="single-icon"
                    ><i class="ti-bag"></i>
                    <span class="total-count">{{ totalItemNumber }}</span></a
                  >
                  <!-- Shopping Item -->
                  <div class="shopping-item">
                    <div class="dropdown-cart-header">
                      <span>{{ totalItemNumber }} Items</span>
                      <a>View Cart</a>
                    </div>
                    <ul class="shopping-list">
                      <li *ngFor="let item of products">
                        <a href="#" class="remove" title="Remove this item"
                          ><i class="fa fa-remove"></i
                        ></a>
                        <a class="cart-img" href="#"
                          ><img [src]="createImgPath(item.IMAGE)" alt="#"
                        /></a>
                        <h4>
                          <a href="#">{{ item.NAME }}</a>
                        </h4>
                        <p class="quantity">
                          <span class="amount">${{ item.PRICE }}</span>
                        </p>
                      </li>
                      <!-- <li>
                    <a href="#" class="remove" title="Remove this item"
                      ><i class="fa fa-remove"></i
                    ></a>
                    <a class="cart-img" href="#"
                      ><img src="https://via.placeholder.com/70x70" alt="#"
                    /></a>
                    <h4><a href="#">Woman Necklace</a></h4>
                    <p class="quantity">
                      1x - <span class="amount">$35.00</span>
                    </p>
                  </li> -->
                    </ul>
                    <div class="bottom">
                      <div class="total">
                        <span>Total</span>
                        <span class="total-amount">$</span>
                      </div>
                      <a href="#" class="btn animate">Checkout</a>
                    </div>
                  </div>
                </div>
              </li>
            </ul>
          </div>
          <!-- End Top Right -->
        </div>
      </div>
    </div>
  </div>
  <div class="header-inner">
    <div class="container">
      <div class="cat-nav-head">
        <div class="row">
          <div class="col-lg-3">
            <div class="all-category">
              <h3 class="cat-heading">
                <i class="fa fa-bars" aria-hidden="true"></i>Danh mục
              </h3>
            </div>
          </div>
          <div class="col-lg-9 col-12">
            <div class="menu-area">
              <!-- Main Menu -->
              <nav class="navbar navbar-expand-lg">
                <div class="navbar-collapse">
                  <div class="nav-inner">
                    <ul class="nav main-menu menu navbar-nav">
                      <li><a href="#">Trang chủ</a></li>
                      <li class="active"><a routerLink="/menu">Sản phẩm</a></li>
                      <li><a href="#">Dịch vụ</a></li>
                      <li><a href="#">Liên hệ</a></li>
                    </ul>
                  </div>
                </div>
              </nav>
              <!--/ End Main Menu -->
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- End Topbar -->
  <section class="section-pagetop bg">
    <div class="container">
      <nav>
        <ol class="breadcrumb text-white">
          <li class="breadcrumb-item active"><a href="#">Trang chủ</a></li>
          <li class="breadcrumb-item active" aria-current="page">
            <a href="#">Category</a>
          </li>
        </ol>
      </nav>
    </div>
    <!-- container //  -->
  </section>
</header>
