<div class="card">
    <div class="card-body">
      <div class="container mb-5 mt-3">
        <div class="row d-flex align-items-baseline">
          <div class="col-xl-9">
            <p style="color: #7e8d9f;font-size: 20px;">Invoice &gt;&gt; <strong>ID:{{this.email}}</strong></p>
          </div>
        </div>
        <div class="container">
          <div class="col-md-12">
            <div class="text-center">
              <i class="far fa-building fa-4x ms-0" style="color:#8f8061 ;"></i>
              <p class="pt-2">Company Name</p>
            </div>
          </div>
          <div class="row">
            <div class="col-xl-8">
              <ul class="list-unstyled">
                <li class="text-muted">To: <span style="color:#8f8061 ;">{{this.email}}</span></li>
                <li class="text-muted"><i class="fas fa-phone"></i> 123-456-789</li>
              </ul>
            </div>
           
          </div>
          <div class="row my-2 mx-1 justify-content-center" *ngFor="let item of ICart">
            <div class="col-md-2 mb-4 mb-md-0">
              <div class="
                          bg-image
                          ripple
                          rounded-5
                          mb-4
                          overflow-hidden
                          d-block
                          " data-ripple-color="light">
                <img [src]="createImgPath(item.img)"
                  class="w-100" height="100px" alt="Elegant shoes and shirt" />
                <a href="#!">
                  <div class="hover-overlay">
                    <div class="mask" style="background-color: hsla(0, 0%, 98.4%, 0.2)"></div>
                  </div>
                </a>
              </div>
            </div>
            <div class="col-md-7 mb-4 mb-md-0">
    <p class="fw-bold">{{item.productName}}</p>
              <p class="mb-1">
                <span class="text-muted me-2">Brands</span><span></span>
              </p>
              <p>
                <span class="text-muted me-2">Color:</span><span></span>
              </p>
            </div>
            <div class="col-md-3 mb-4 mb-md-0">
              <h5 class="mb-2">
                <s class="text-muted me-2 small align-middle">$1500</s><span class="align-middle">{{item.price}}</span>
              </h5>
              <p class="text-danger"><small>You save 25%</small></p>
            </div>
          </div>
          <hr>
          <div class="row">
            <div class="col-xl-8">
              <p class="ms-3">Add additional notes and payment information</p>
            </div>
            <div class="col-xl-3">
              <ul class="list-unstyled">
                <li class="text-muted ms-3"><span class="text-black me-4">SubTotal</span>$1050</li>
                <li class="text-muted ms-3 mt-2"><span class="text-black me-4">Quantity</span>{{totalItemNumber}}</li>
              </ul>
              <p class="text-black float-start"><span class="text-black me-3" > Total Price</span><span
                  style="font-size: 25px;">{{totalItemPrice}}</span>
                </p>
            </div>
          </div>
        </div>
        <a class="btn btn-block btn-primary" style="color: white;">Add to cart </a>
      </div>
    </div>
  </div>