<!-- Start Footer Area -->
<footer class="footer">
  <!-- Footer Top -->
  <div class="footer-top section">
    <div class="container">
      <div class="row">
        <div class="col-lg-5 col-md-6 col-12">
          <!-- Single Widget -->
          <div class="single-footer about">
            <div class="logo">
              <a href="#">H&T Shop</a>
            </div>
            <p class="call">
              Mọi vấn đề xin liên hệ qua<span
                ><a href="tel:0797052231">0797052231</a></span
              >
            </p>
          </div>
          <!-- End Single Widget -->
        </div>
        <div class="col-lg-2 col-md-6 col-12">
          <!-- Single Widget -->
          <div class="single-footer links">
            <h4>Thông tin</h4>
            <ul>
              <li><a href="#">Về chúng tôi</a></li>
              <li><a href="#">Câu hỏi thường gặp</a></li>
              <li><a href="#">Điều khoản và điều kiện</a></li>
              <li><a href="#">Liên hệ với chúng tôi</a></li>
              <li><a href="#">Trợ giúp</a></li>
            </ul>
          </div>
          <!-- End Single Widget -->
        </div>
        <div class="col-lg-2 col-md-6 col-12">
          <!-- Single Widget -->
          <div class="single-footer links">
            <h4>Dịch vụ khách hàng</h4>
            <ul>
              <li><a href="#">Phương thức thanh toán</a></li>
              <li><a href="#">Hoàn tiền</a></li>
              <li><a href="#">Hoản trả</a></li>
              <li><a href="#">Giao hàng</a></li>
              <li><a href="#">Chính sách riêng tư</a></li>
            </ul>
          </div>
          <!-- End Single Widget -->
        </div>
        <div class="col-lg-3 col-md-6 col-12">
          <!-- Single Widget -->
          <div class="single-footer social">
            <h4>Liên hệ</h4>
            <!-- Single Widget -->
            <div class="contact">
              <ul>
                <li>Trần Tuấn Hải</li>
                <li>828 Sư Vạn Hạnh</li>
                <li>18dh110397@st.huflit.edu.vn</li>
                <li>0797052231</li>
              </ul>
            </div>
            <!-- End Single Widget -->
            <ul>
              <li>
                <a href="#"><i class="ti-facebook"></i></a>
              </li>
              <li>
                <a href="#"><i class="ti-twitter"></i></a>
              </li>
              <li>
                <a href="#"><i class="ti-flickr"></i></a>
              </li>
              <li>
                <a href="#"><i class="ti-instagram"></i></a>
              </li>
            </ul>
          </div>
          <!-- End Single Widget -->
        </div>
      </div>
    </div>
  </div>
  <!-- End Footer Top -->
  <div class="copyright">
    <div class="container">
      <div class="inner">
        <div class="row">
          <div class="col-lg-6 col-12">
            <div class="left">
              <p>
                Copyright © 2022 <a href="#" target="_blank">H&T Shop</a> - All
                Rights Reserved.
              </p>
            </div>
          </div>
          <div class="col-lg-6 col-12">
            <div class="right">
              <img src="assets/images/payments.png" alt="#" />
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>
<!-- /End Footer Area -->
