<nz-layout class="app-layout">
  <nz-sider class="menu-sidebar" nzCollapsible nzWidth="256px" nzBreakpoint="md" [(nzCollapsed)]="isCollapsed"
    [nzTrigger]="null">
    <div class="sidebar-logo">
      <a routerLink="/dashboard" target="_blank">
        <img src="https://img.icons8.com/dusk/64/000000/bbb.png" alt="logo">
        <h1>Shop Clothes
        </h1>
      </a>
    </div>
    <ul nz-menu nzTheme="dark" nzMode="inline" [nzInlineCollapsed]="isCollapsed">
      <li nz-menu-item>
        <a class="menu-item-content-icon" routerLink="/dashboard">
          <i nz-icon nzType="home" nzTheme="outline"></i>
          <span>Trang chủ</span>
        </a>
      </li>
      <li nz-menu-item>
        <a class="menu-item-content-icon" routerLink="/product">
          <i nz-icon nzType="folder" nzTheme="outline"></i>
          <span>Sản phẩm</span>
        </a>
      </li>
      <li nz-menu-item>
        <a class="menu-item-content-icon" routerLink="/order">
          <i nz-icon nzType="exception" nzTheme="outline"></i>
          <span>Đơn hàng</span>
        </a>
      </li>
      <li nz-menu-item>
        <a class="menu-item-content-icon" routerLink="/bill">
          <i nz-icon nzType="wallet" nzTheme="outline"></i>
          <span>Hóa đơn</span>
        </a>
      </li>
      <li nz-menu-item>
        <a class="menu-item-content-icon" routerLink="/users">
          <i nz-icon nzType="team" nzTheme="outline"></i>
          <span>Tài khoản</span>
        </a>
      </li>
    </ul>
  </nz-sider>
  <nz-layout>
    <nz-header>
      <div class="app-header">
        <span class="header-trigger" (click)="isCollapsed = !isCollapsed">
          <i class="trigger" nz-icon [nzType]="isCollapsed ? 'menu-unfold' : 'menu-fold'"></i>
        </span>
        
      </div>
    </nz-header>
    <nz-content>
      <div class="inner-content">
        <router-outlet></router-outlet>
      </div>
    </nz-content>
  </nz-layout>
</nz-layout>