<button
  type="button"
  class="btn btn-primary"
  data-bs-toggle="modal"
  data-bs-target="#addProduct"
>
  Tạo mới
</button>

<!-- Modal -->
<div
  class="modal fade"
  id="addProduct"
  tabindex="-1"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Tạo mới</h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <form [formGroup]="prodCreate" class="row g-3 needs-validation" novalidate>
          <div class="col-md-12">
            <label for="validationCustom01" class="form-label"
              >Tên</label
            >
            <input
              formControlName="name"
              id="name"
              type="text"
              class="form-control"
            />
          </div>
          <div class="col-md-6">
            <label for="validationCustom01" class="form-label"
              >Số lượng</label
            >
            <input
              type="number"
              class="form-control"
              formControlName="quantity"
              id="quantity"
            />
          </div>
          <div class="col-md-6">
            <label for="validationCustom01" class="form-label"
              >Giá Bán</label
            >
            <input
              type="number"
              class="form-control"
              formControlName="price"
              id="price"
            />
          </div>
          <div class="col-md-4">
            <label for="validationCustom03" class="form-label">Giá Gốc</label>
            <input
              type="number"
              class="form-control"
              formControlName="oriprice"
              id="oriprice"
            />
          </div>
          <div class="col-md-4">
            <label for="validationCustom03" class="form-label">Giá USD</label>
            <input
              type="number"
              class="form-control"
              formControlName="usdprice"
              id="usdprice"
            />
          </div>
          <div class="col-md-4">
            <label for="validationCustom03" class="form-label">Tình trạng sản phẩm</label>
            <input
              type="number"
              class="form-control"
              formControlName="hotproduct"
              id="hotproduct"
            />
          </div>
          <div class="mb-3">
            <label for="exampleFormControlTextarea1" class="form-label">Chi tiết</label>
            <textarea class="form-control" formControlName="description"
            id="description" rows="3"></textarea>
          </div>
          <div class="mb-3">
            <label for="formFileSm" class="form-label">Hình ảnh</label>
            <img [src]=PhotoFilePath height="250px;" width="200px;">
            <input (change)="uploadPhoto($event)" class="form-control form-control-sm" formControlName="image"
            id="image" type="file">
          </div>
          <div class="col-md-4">
            <label for="validationCustom03" class="form-label">Công ty</label>
            <input
              type="number"
              class="form-control"
              formControlName="company"
            id="company"
            />
          </div>
          <div class="col-md-4">
            <label for="validationCustom03" class="form-label">Thể loại</label>
            <input
              type="number"
              class="form-control"
              formControlName="idcategory"
            id="idcategory"
            />
          </div> 
          <div class="col-md-4">
            <label for="validationCustom03" class="form-label">Giới tính</label>
            <input
              type="number"
              class="form-control"
              formControlName="sex"
            id="sex"
            />
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
          Đóng
        </button>
        <button type="button" class="btn btn-primary" (click)="addProduct()">Lưu</button>
      </div>
    </div>
  </div>
</div>

<table class="table">
  <thead class="table-dark">
    <tr>
      <th scope="col"></th>
      <th scope="col">Tên</th>
      <th scope="col">Số lượng</th>
      <th scope="col">Giá</th>
      <th scope="col">Hình ảnh</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let prodList of prodList">
      <th scope="row">{{ prodList.ID }}</th>
      <td>{{ prodList.NAME }}</td>
      <td>{{ prodList.QUANTITY }}</td>
      <td>{{ prodList.PRICE }}</td>
      <td>{{ prodList.IMAGE }}</td>
    </tr>
  </tbody>
</table>