<div class="modalCate">
  <div class="container-fluid">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <div class="container-fluid">
        <a class="navbar-brand" href="#">Chi tiết hóa đơn </a>
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
      </div>
    </nav>
    <table class="table table-hover">
      <thead>
        <tr>
          <th scope="col">Mã hóa đơn</th>
          <th scope="col">Sản phẩm</th>
          <th scope="col">Giá</th>
          <th scope="col">Số lượng</th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let o of order">
          <td>{{ o.IDORDER }}</td>
          <td>{{ this.namePro }}</td>
          <td>{{ o.PRICE }}</td>
          <td>{{ o.QUANTITY }}</td>
        </tr>
      </tbody>
    </table>
    <!-- Add employee modal -->
  </div>
</div>
