<app-header></app-header>

<section class="section-content padding-y">
  <div class="container">
    <div class="row">
      <aside class="col-md-3">
        <div class="card">
          <article class="filter-group">
            <header class="card-header">
              <a
                data-toggle="collapse"
                data-target="#collapse_1"
                aria-expanded="true"
                class=""
              >
                <i class="icon-control fa fa-chevron-down"></i>
                <h6 class="title">Thể loại</h6>
              </a>
            </header>
            <div class="filter-content collapse show" id="collapse_1" style="">
              <div class="card-body">
                <form class="pb-3">
                  <div class="input-group">
                    <input
                      type="text"
                      class="form-control"
                      placeholder="Search"
                    />
                    <div class="input-group-append">
                      <button class="btn btn-light" type="button">
                        <i class="fa fa-search"></i>
                      </button>
                    </div>
                  </div>
                </form>

                <ul class="list-menu">
                  <li>
                    <a routerLink="all">Tất cả</a>
                  </li>
                  <li *ngFor="let cate of cateList">
                    <a [routerLink]="['cate/' + cate.ID]">{{ cate.NAME }} </a>
                  </li>
                </ul>
              </div>
              <!-- card-body.// -->
            </div>
          </article>
          <!-- filter-group  .// -->
          <article class="filter-group">
            <header class="card-header">
              <a
                data-toggle="collapse"
                data-target="#collapse_2"
                aria-expanded="true"
                class=""
              >
                <i class="icon-control fa fa-chevron-down"></i>
                <h6 class="title">Nhãn hiệu</h6>
              </a>
            </header>
            <div class="filter-content collapse show" id="collapse_2" style="">
              <div class="card-body">
                <ul class="list-menu">
                  <li *ngFor="let branch of branchList">
                    <a [routerLink]="['brand/' + branch.ID]"
                      >{{ branch.NAME }}
                    </a>
                  </li>
                </ul>
              </div>
              <!-- card-body.// -->
            </div>
          </article>
          <!-- filter-group .// -->
          <article class="filter-group">
            <header class="card-header">
              <a
                data-toggle="collapse"
                data-target="#collapse_3"
                aria-expanded="true"
                class=""
              >
                <i class="icon-control fa fa-chevron-down"></i>
                <h6 class="title">Giới tính</h6>
              </a>
            </header>
            <div class="filter-content collapse show" id="collapse_3" style="">
              <div class="card-body">
                <ul class="list-menu">
                  <li *ngFor="let sex of sexList">
                    <a [routerLink]="['sex/' + sex.ID]">{{ sex.NAME }} </a>
                  </li>
                </ul>
              </div>
              <!-- card-body.// -->
            </div>
          </article>
          <!-- filter-group .// -->
        </div>
        <!-- card.// -->
      </aside>
      <!-- col.// -->
      <main class="col-md-9">
        <!-- sect-heading -->

        <router-outlet></router-outlet>

        <!-- row end.// -->

        <nav class="mt-4" aria-label="Page navigation sample">
          <ul class="pagination">
            <li class="page-item disabled">
              <a class="page-link">Trước</a>
            </li>
            <li class="page-item active">
              <a class="page-link">1</a>
            </li>
            <li class="page-item"><a class="page-link">2</a></li>
            <li class="page-item"><a class="page-link">3</a></li>
            <li class="page-item"><a class="page-link">Sau</a></li>
          </ul>
        </nav>
      </main>
      <!-- col.// -->
    </div>
  </div>
  <!-- container .//  -->
</section>
<!-- ========================= SECTION CONTENT END// ========================= -->

<!-- ========================= FOOTER ========================= -->
<footer class="section-footer border-top padding-y">
  <div class="container">
    <p class="float-md-right">&copy; Copyright 2021 All rights reserved</p>
  </div>
  <!-- //container -->
</footer>
