<!-- Header -->
<header class="header shop">
  <!-- Topbar -->
  <div class="topbar">
    <div class="container">
      <div class="row">
        <div class="col-lg-4 col-md-12 col-12">
          <!-- Top Left -->
          <div class="top-left">
            <ul class="list-main">
              <li><i class="ti-headphone-alt"></i> 0797052231</li>
              <li><i class="ti-email"></i> 18dh110397@st.huflit.edu.vn</li>
            </ul>
          </div>
          <!--/ End Top Left -->
        </div>
        <div class="col-lg-8 col-md-12 col-12">
          <!-- Top Right -->
          <div class="right-content">
            <ul class="list-main">
              <li><i class="ti-location-pin"></i> Vị trí cửa hàng</li>

              <li>
                <i class="ti-user"></i>
                <a *ngIf="this.email; else NonLogin">
                  {{ this.email }}
                </a>
                <ng-template #NonLogin><a>Anonymous</a></ng-template>
              </li>
              <li>
                <i class="ti-power-off"></i>
                <a *ngIf="this.email; else NonEmail">
                  <a (click)="logout()">Đăng xuất</a>
                </a>
                <ng-template #NonEmail
                  ><a [routerLink]="['auth/login']">Đăng nhập</a></ng-template
                >
              </li>
            </ul>
          </div>
          <!-- End Top Right -->
        </div>
      </div>
    </div>
  </div>
  <!-- End Topbar -->
  <div class="middle-inner">
    <div class="container">
      <div class="row">
        <div class="col-lg-2 col-md-2 col-12">
          <!-- Logo -->
          <div class="logo">
            <a href="#">H&T Shop</a>
          </div>
          <!--/ End Logo -->
          <!-- Search Form -->
          <div class="search-top">
            <div class="top-search">
              <a href="#0"><i class="ti-search"></i></a>
            </div>
            <!-- Search Form -->
            <div class="search-top">
              <form class="search-form">
                <input type="text" placeholder="Search here..." name="search" />
                <button value="search" type="button">
                  <i class="ti-search"></i>
                </button>
              </form>
            </div>
            <!--/ End Search Form -->
          </div>
          <!--/ End Search Form -->
          <div class="mobile-nav"></div>
        </div>
        <div class="col-lg-8 col-md-7 col-12" style="display: flex">
          <div class="search-bar-top">
            <div class="search-bar">
              <form>
                <input
                  name="search"
                  placeholder="Tìm kiếm....."
                  type="search"
                />
                <button class="btnn"><i class="ti-search"></i></button>
              </form>
            </div>
          </div>
          <div class="col-lg-2 col-md-3 col-12">
            <div class="right-bar">
              <!-- Search Form -->
              <div class="sinlge-bar">
                <a href="#" class="single-icon"
                  ><i class="fa fa-heart-o" aria-hidden="true"></i
                ></a>
              </div>
              <div class="sinlge-bar">
                <a href="#" class="single-icon"
                  ><i class="fa fa-user-circle-o" aria-hidden="true"></i
                ></a>
              </div>
              <div class="sinlge-bar shopping">
                <a routerLink="/cart" class="single-icon"
                  ><i class="ti-bag"></i>
                  <span class="total-count">{{ totalItemNumber }}</span></a
                >
                <!-- Shopping Item -->
                <div class="shopping-item">
                  <div class="dropdown-cart-header">
                    <span>{{ totalItemNumber }} Sản phẩm</span>
                    <a>Giỏ hàng</a>
                  </div>
                  <ul class="shopping-list">
                    <li *ngFor="let item of products">
                      <a href="#" class="remove" title="Remove this item"
                        ><i class="fa fa-remove"></i
                      ></a>
                      <a class="cart-img" href="#"
                        ><img [src]="createImgPath(item.IMAGE)" alt="#"
                      /></a>
                      <h4>
                        <a href="#">{{ item.NAME }}</a>
                      </h4>
                      <p class="quantity">
                        <span class="amount">${{ item.PRICE }} đ</span>
                      </p>
                    </li>
                    <!-- <li>
                      <a href="#" class="remove" title="Remove this item"
                        ><i class="fa fa-remove"></i
                      ></a>
                      <a class="cart-img" href="#"
                        ><img src="https://via.placeholder.com/70x70" alt="#"
                      /></a>
                      <h4><a href="#">Woman Necklace</a></h4>
                      <p class="quantity">
                        1x - <span class="amount">$35.00</span>
                      </p>
                    </li> -->
                  </ul>
                  <div class="bottom">
                    <div class="total">
                      <span>Tổng</span>
                      <span class="total-amount"
                        >{{ this.totalItemPrice }}đ</span
                      >
                    </div>
                    <a href="#" class="btn animate">Thanh toán</a>
                  </div>
                </div>
              </div>
              <!--/ End Shopping Item -->
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Header Inner -->
  <div class="header-inner">
    <div class="container">
      <div class="cat-nav-head">
        <div class="row">
          <div class="col-lg-3">
            <div class="all-category">
              <h3 class="cat-heading">
                <i class="fa fa-bars" aria-hidden="true"></i>Danh mục thể loại
              </h3>
              <ul class="main-category">
                <li *ngFor="let cate of cateList">
                  <a [routerLink]="['/menu/cate/' + cate.ID]"
                    >{{ cate.NAME }}
                  </a>
                </li>
              </ul>
            </div>
          </div>
          <div class="col-lg-9 col-12">
            <div class="menu-area">
              <!-- Main Menu -->
              <nav class="navbar navbar-expand-lg">
                <div class="navbar-collapse">
                  <div class="nav-inner">
                    <ul class="nav main-menu menu navbar-nav">
                      <li class="active"><a href="#">Trang chủ</a></li>
                      <li><a routerLink="/menu">Sản phẩm</a></li>
                      <li><a href="#">Dịch vụ</a></li>
                      <li><a href="#">Liên hệ</a></li>
                    </ul>
                  </div>
                </div>
              </nav>
              <!--/ End Main Menu -->
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>
